# PostgreSQL DSN.
DB_POSTGRES_DSN='host=localhost port=5432 user=user password=password dbname=wikigraph sslmode=disable'

# The server will be listening on this address.
GRPC_SERVER_ADDRESS='0.0.0.0:9000'

AMQP_CONNECTION_URL='amqp://user:pass@localhost'
AMQP_EXCHANGE_NAME='wikigraph'
AMQP_ROUTING_KEY='task'
